[Unit]
Description=server

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/jsreader/main /home/reader.db

[Install]
WantedBy=multi-user.target
